.middle {
  margin-top: 25%;
  display: block;
}

.board input{
  height: 50px;
  width: 50px;
}

.board {
  margin: auto;
  max-width: 150px;
  padding-top: 20%;
}

#xoSelector,#xoSelector1p {
  display: none;
}

#tttBoard,#tttBoard1p {
  display: none;
}